.my-button {
  height: 30px;
  width: 80px;
  background-color: white;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.my-button:focus {
  outline: none;
  border-color: cornflowerblue;
}

.my-button .circle {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  opacity: 0.5;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  animation: big 0.5s forwards;
}

@keyframes big {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(10);
  }
}
